<a href="https://colab.research.google.com/github/LucasSilvaFerreira/Perturb_Loader/blob/main/Perturb_Loader.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install git+https://github.com/LucasSilvaFerreira/Perturb_Loader.git

In [5]:
from Perturb_Loader import load_perturb, download_perturb_data

In [ ]:
download_perturb_data() # first time downloading the data

In [8]:
p = load_perturb() # loading anndata objects and manipulating

In [9]:
p.show_guides()[:10]  # 10 first guides

Number of Guides :3115

['ACTB_TSS|1',
 'ACTB_TSS|2',
 'ACTG1_TSS|1',
 'ACTG1_TSS|2',
 'ACYP1_TSS|1',
 'ACYP1_TSS|2',
 'ADIPOR1_TSS|1',
 'ADIPOR1_TSS|2',
 'ALDH1A2_TSS|1',
 'ALDH1A2_TSS|2']

In [10]:
p.show_elements()[:10]   # 10 elements

Number of Elements :1561

['ACTB_TSS',
 'ACTG1_TSS',
 'ACYP1_TSS',
 'ADIPOR1_TSS',
 'ALDH1A2_TSS',
 'APEX1_TSS',
 'APLP2_TSS',
 'ARF6_TSS',
 'ARID1A_TSS',
 'ARL4A_TSS']

In [11]:
#showing the first 10 POSITIVE_CONTROLS
p.extract_element_per_type('POSITIVE_CONTROL')[:10]

array(['ACTB_TSS', 'ACTG1_TSS', 'ACYP1_TSS', 'ADIPOR1_TSS', 'ALDH1A2_TSS',
       'APEX1_TSS', 'APLP2_TSS', 'ARF6_TSS', 'ARID1A_TSS', 'ARL4A_TSS'],
      dtype=object)

In [12]:
# Capturing guides for a given elements      ex: Element ACTB_TSS
p.capture_element_guides('ACTB_TSS')

['ACTB_TSS|1', 'ACTB_TSS|2']

In [13]:
#Capturing the COUNT matrix for  genes that will be tested given element   ex: element ACTB_TSS
p.genes_to_test_count('ACTB_TSS') # Genes on a 1MB region

                  Y_RNA  FOXK1  AP5Z1  RADIL  ...  CYTH3  RAC1  DAGLB  KDELR2
AAACCTGAGCGAGAAA    0.0    1.0    0.0    0.0  ...    0.0   7.0    0.0     4.0
AAACCTGAGCTGTCTA    0.0    0.0    0.0    0.0  ...    0.0   9.0    0.0     5.0
AAACCTGAGTTATCGC    0.0    0.0    0.0    0.0  ...    0.0   7.0    0.0     2.0
AAACCTGAGTTCCACA    0.0    2.0    0.0    0.0  ...    0.0   9.0    0.0     8.0
AAACCTGCAAATACAG    0.0    1.0    1.0    0.0  ...    0.0   4.0    0.0     2.0
...                 ...    ...    ...    ...  ...    ...   ...    ...     ...
TTTGTCAGTGTTTGTG    0.0    0.0    0.0    0.0  ...    0.0   3.0    0.0     5.0
TTTGTCATCACAAACC    0.0    0.0    0.0    0.0  ...    0.0   5.0    0.0     3.0
TTTGTCATCAGAGGTG    0.0    0.0    0.0    0.0  ...    1.0   6.0    0.0     4.0
TTTGTCATCGCGATCG    0.0    0.0    0.0    0.0  ...    0.0   2.0    0.0     1.0
TTTGTCATCTGGCGTG    0.0    0.0    0.0    0.0  ...    0.0   2.0    0.0     0.0

[47964 rows x 23 columns]

In [14]:
#covariates 
p.capture_covariates()

                 bath_number  ...  log_total_guide_count
AAACCTGAGCGAGAAA           1  ...               5.802118
AAACCTGAGCTGTCTA           1  ...               6.335054
AAACCTGAGTTATCGC           1  ...               6.395262
AAACCTGAGTTCCACA           1  ...               5.087596
AAACCTGCAAATACAG           1  ...               4.624973
...                      ...  ...                    ...
TTTGTCAGTGTTTGTG           6  ...               6.040255
TTTGTCATCACAAACC           6  ...               5.638355
TTTGTCATCAGAGGTG           6  ...               6.727432
TTTGTCATCGCGATCG           6  ...               7.158514
TTTGTCATCTGGCGTG           6  ...               4.330733

[47964 rows x 5 columns]

In [15]:
# capture the cells having a given guide   0 = the guide is not present in a given cell        1  = the guide is present in a given cell

p.capture_guide('ACTB_TSS|1')    # size == number of cells

array([0., 0., 0., ..., 0., 0., 0.], dtype=float32)

### ALL  AnnData Objects can be accessed inside the Perturb_Loader object instance

In [16]:
p.element_x_guide

AnnData object with n_obs × n_vars = 1561 × 3115

In [17]:
p.element_x_tested_gene

AnnData object with n_obs × n_vars = 1561 × 16367
    obs: 'GUIDE_TYPE'

In [18]:
p.cell_x_guide

AnnData object with n_obs × n_vars = 47964 × 3115
    obs: 'bath_number', 'percent_mito', 'log_number_of_detected_genes', 'log_total_gene_count', 'log_total_guide_count'

In [19]:
p.cell_x_gene_ann

AnnData object with n_obs × n_vars = 47964 × 16367
    obs: 'bath_number', 'percent_mito', 'log_number_of_detected_genes', 'log_total_gene_count', 'log_total_guide_count'